:root
    --color-bg-1: #fdfdfc
    --color-bg-2: #eeeeec
    --color-text-1: #1b1b18
    --color-text-2: #706f6c

    --color-bg-header: hsla(60,20%,99%,.8)

    --screen-width: 652px
    --size-header-buttons: 2.5rem

    --speed-ui: 200ms

.dark-theme
    --color-bg-1: #161615
    --color-bg-2: #282826
    --color-text-1: #ededec
    --color-text-2: #a1a09a

    --color-bg-header: rgba(21,21,20,.8)
